#botonera {

        display: flex;
                ul{
                    li{
                        a{
                            font-size: 2em;
                            color:$colorPrincipal;
                        }
                    }
                }

}


